:root {
  /* Primary */
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /* Neutral */
  --dark-gray-magenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  text-align: center;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;

  background-image:
    url("images/bg-pattern-top-mobile.svg"),
    url("images/bg-pattern-bottom-mobile.svg")
  ;
  background-repeat: no-repeat no-repeat;
  background-position: left top, right bottom 10vh;
}

#content {
  margin: 0 auto;
  padding: 30px;
  max-width: 275px;
}

#first h1 {
  color: var(--dark-magenta);
  font-size: 20px;
  margin: 15px;
}

#first p {
  color: var(--dark-gray-magenta);
  font-size: 10px;
  font-weight: 500;
  margin: 21px;
}

#second {
  margin-bottom: 30px;
}

#second img {
  height: 10px;
}

#second .rate-review {
  font-weight: 700;
  color: var(--dark-magenta);
}

#second .star {
  background: var(--light-gray-magenta);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

#second .rate-review {
  font-size: 10px;
}

#third {
  margin: 15px;
}

#third .profile {
  background: var(--dark-magenta);
  border-radius: 7px;

  color: var(--light-gray-magenta);
}

#third img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin-left: 15px;
}

#third .profile {
  text-align: left;
}

#third .profile-description {
  margin-left: 55px;
  margin-top: -37px;
}

.username {
  font-size: 9px;
}

.verification {
  font-size: 9px;
  color: var(--soft-pink);
  margin-top: -8px;
}

.customer-feedback {
  font-size: 9px;
  padding: 20px;
  margin-top: -10px
}



@media screen and (min-width:760px) {
  body {
    text-align: left;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;

    background-image:
      url("images/bg-pattern-top-desktop.svg"),
      url("images/bg-pattern-bottom-desktop.svg")
    ;
    background-repeat: no-repeat no-repeat;
    background-position: left top, right bottom 10vh;
  }

  #content {
    margin: 0 auto;
    min-width: 740px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 15px;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  #first h1 {
    color: var(--dark-magenta);
    font-size: 30px;
    margin: 0 auto;
  }

  #first p {
    color: var(--dark-gray-magenta);
    font-size: 10px;
    font-weight: 500;
    margin-top: 3px;
    margin-left: 0;
    padding-right: 15px;
  }

  #second {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 20px;
    grid-gap: 30px
  }


  #second .rate-review {
    font-size: 10px;
    margin-left: 10px;
  }

  #second .star {
    background: var(--light-gray-magenta);
    border-radius: 10px;
    margin: 7px;
    padding: 20px;
    display: inline-flex;
  }

  .star p {
    margin-top: -5px;
  }

  .star-img {
    margin-top: -8px;
  }

  .star.one {
    grid-column: 1 / 11;
  }

  .star.two {
    grid-column: 2 / 12;
  }

  .star.three {
    grid-column: 3 / 13;
  }

  #third {
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    grid-gap: 20px;

    height: 180px;
    margin: 0;
  }

  #third img {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
  }

  #third .profile-description {
    margin-left: 75px;
    margin-top: -50px;
  }

  .username {
    font-size: 11px;
  }

  .verification {
    font-size: 11px;
  }

  .customer-feedback {
    font-size: 9px;
    padding: 15px;
  }

  .profile-one {
    align-self: start;
  }

  .profile-two {
    align-self: center;
  }

  .profile-three {
    align-self: end;
  }
}
